<div class="flex flex-col mt-16 mb-8" id="container">
  <div class="flex items-center justify-around my-8">
    <p class="text-6xl mr-16 font-bold font-primary">
      {{ 'LEARN.TITLE' | translate }}
    </p>
    <p class="text-3xl font-secondry font-medium max-w-xl">
      {{ 'LEARN.SUBTITLE' | translate }}
    </p>
  </div>
  @for (item of items; track $index) {
    <div
      class="flex bg-white my-3 mx-44 p-6 justify-around items-center rounded-3xl mt-10"
    >
      <p class="text-3xl font-secondry font-medium max-w-sm">
        @if (item === 'Understanding') {
          {{ 'LEARN.P-1' | translate }}
        } @else if (item === 'Types') {
          {{ 'LEARN.P-2' | translate }}
        } @else if (item === 'How') {
          {{ 'LEARN.P-3' | translate }}
        }
      </p>
      <p class="text-base max-w-lg">
        {{ 'LEARN.DETAILS' | translate }}
      </p>
      <a href="#" class="text-primary">{{ 'LEARN.READ' | translate }}</a>
    </div>
  }
</div>
