<div class="flex flex-col mt-16 mb-8 items-center" id="container">
  <div class="flex items-center my-8">
    <p class="text-6xl mr-16 font-bold font-primary">Learn with Us</p>
    <p class="text-3xl font-secondry font-medium max-w-xl">
      A world where your vision takes flight and creativity knows no bounds.
    </p>
  </div>
  @for (item of items; track $index) {
    <div
      class="flex bg-white my-3 p-6 justify-around items-center rounded-3xl mt-10"
    >
      <p class="text-3xl font-secondry font-medium max-w-sm">
        {{ item }}
      </p>
      <p class="text-base max-w-lg">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
        luctus nec ullamcorper mattis, pulvinar dapibus leo.
      </p>
      <a href="#" class="text-primary">Read</a>
    </div>
  }
</div>
