<div class="relative overflow-hidden">
  <img class="w-full" src="About-banner.jpg" alt="about-us Image" />
  <div class="absolute inset-0 flex justify-center items-center">
    <p class="text-7xl font-secondry font-semibold text-gray-600">
      Who are we?
    </p>
  </div>
</div>

<div class="flex justify-around items-center my-32 mx-32">
  <img src="Our-Mission-min.jpg" alt="Our-Mission image" class="w-auto h-96" />
  <div class="flex flex-col">
    <p class="text-6xl font-medium font-secondry mb-5">Our Mission</p>
    <p class="text-base text-slate-600 font-secondry mb-5 max-w-md">
      Hello, my name is Tyler Moore and with the help of many people I made this
      template. I made it so it is super easy to update and so that it flows
      perfectly with my tutorials. Lots of love and hundreds of hours went into
      making it. I hope you love it as much as I do.
    </p>
    <p class="text-base text-slate-600 font-secondry max-w-md">
      I wish you the best of luck with your business, enjoy the adventure.
    </p>
  </div>
</div>

<div class="relative overflow-hidden">
  <img class="w-full h-96" src="Talk-to-us.jpg" alt="about-us Image" />
  <div class="absolute inset-0 flex flex-col items-center my-20">
    <p class="text-6xl font-secondry font-semibold text-gray-600 mb-3">
      Talk to us
    </p>
    <p
      class="text-base font-secondry max-w-2xl text-center text-slate-600 mb-16"
    >
      Have any questions? We are always open to talk about your business, new
      projects, creative opportunities and how we can help you.
    </p>
    <button class="bg-primary text-white py-3 px-7 hover:text-slate-200">
      GET IN TOUCH
    </button>
  </div>
</div>

<div class="flex justify-between mb-24">
  <div class="flex flex-col justify-center ml-32">
    <p class="text-6xl font-secondry font-semibold text-blue-950 mb-6">
      About Us
    </p>
    <p class="text-base font-secondry text-slate-600 max-w-lg">
      Use this section to describe your company and the services you offer. You
      could share your company’s story and details about why you are in
      business. The goal is to create a connection with the visitor and give
      them confidence to work with you.
    </p>
  </div>
  <div class="bg-slate-100">
    <img
      src="Place-holder-about-4.jpg"
      alt="place holder image"
      class="px-48 py-24 items-center"
    />
  </div>
</div>

<div class="flex flex-col my-40 mx-40">
  <div class="flex justify-between">
    <img src="Img-About-3.jpg" alt="about image" class="w-2/5 h-96" />
    <div class="flex flex-col">
      <p class="text-6xl font-secondry font-semibold text-blue-950 mb-6">
        Our Mission
      </p>
      <p class="text-base font-secondry text-slate-600 max-w-lg mb-6">
        A short paragraph describing your company’s goals or mission statement.
        This section is meant to help visitors understand the purpose of your
        business.
      </p>
      <p class="text-base font-secondry text-slate-600 max-w-lg">
        Lorem ipsum elementum tempus egestas sed sed. Eget nullam non nisi est
        sit amet facilisis magna. Venenatis cras sed felis eget velit aliquet
        sagittis id consectetur. Ipsum dolor sit amet consectetur adipiscing.
        Magna sit amet purus gravida quis. Praesent tristique magna sit amet
        purus. Turpis nunc eget lorem dolor sed. Dui id ornare arcu odio ut.
      </p>
    </div>
  </div>
  <div class="flex justify-between mt-40">
    <div class="flex flex-col">
      <p
        class="text-6xl font-secondry font-semibold text-blue-950 mb-6 max-w-sm"
      >
        Why Choose Us
      </p>
      <p class="text-base font-secondry text-slate-600 max-w-md mb-6">
        A short paragraph describing what your service offers and how it helps
        clients. This is your chance to convince the visitor that your business
        is the right choice for them.
      </p>
      <ul class="text-base font-serif text-slate-600 list-disc pl-4 space-y-3">
        <li>Feature/Benefit 1</li>
        <li>Feature/Benefit 2</li>
        <li>Feature/Benefit 3</li>
        <li>Feature/Benefit 4</li>
      </ul>
    </div>
    <img src="Img-About-3.jpg" alt="about image" class="w-2/5 h-96" />
  </div>
</div>

<div class="flex flex-col justify-center items-center">
  <p
    class="text-6xl font-serif font-semibold text-blue-950 mb-6 max-w-3xl text-center leading-tight"
  >
    A Title to Turn the Visitor Into a Lead
  </p>
  <p class="text-base font-serif text-slate-600 max-w-md mb-6">
    Use this short paragraph to explain how you will deliver this benefit to the
    visitor if they decide to work with you.
  </p>
  <button
    class="bg-blue-600 text-white font-secondry mb-40 px-14 py-3 rounded-full"
  >
    Contact Us
  </button>
</div>

<div class="flex justify-around my-10">
  <div class="flex flex-col justify-center">
    <img src="placeholder.png" alt="placeholder image" class="w-14 h-10 mb-2" />
    <p class="text-base font-secondry text-slate-600 max-w-sm">
      Summarize your business so the visitor can learn about your offerings from
      any page on your website.
    </p>
  </div>
  <div class="border-r-2 border-black"></div>
  <div class="flex flex-col justify-center items-center">
    <p class="text-base font-secondry text-slate-600 mb-1">123-456-7890</p>
    <p class="text-base font-secondry text-slate-600 mb-1">
      123 Main Street. New York, NY 10001
    </p>
    <p class="text-base font-secondry text-slate-600">
      Mon-Fri 9:00AM - 5:00PM
    </p>
  </div>
  <div class="border-r-2 border-black"></div>
  <div class="flex flex-col justify-center">
    <p class="text-base font-secondry text-slate-600 max-w-md mb-5">
      Subscribe to receive our latest updates directly in your inbox!
    </p>
    <input
      type="email"
      placeholder="Email Address"
      class="border-b-2 border-slate-400 mb-6 py-2 px-4 w-72"
    />
    <button
      class="bg-blue-600 text-white font-secondry px-14 py-3 rounded-full w-56"
    >
      Subscribe
    </button>
  </div>
</div>

<div class="bg-blue-600 text-white font-mono text-center py-3 mt-16">
  <p>© 2024 All Rights Reserved.</p>
</div>
