<div class="mx-52 my-20">
  <p class="text-7xl font-primary font-semibold max-w-4xl">
    {{ 'REQUEST.TITLE' | translate }}
  </p>
  <div class="border-black border-4 w-80 h-2 my-8"></div>
  <p class="text-3xl font-secondry font-bold mb-4">
    {{ 'REQUEST.P-1' | translate }}
    <span class="text-xl">
      <input
        class="border-b-2 border-black p-2"
        placeholder="{{ 'REQUEST.HOLDER-1' | translate }}"
      />
    </span>
    {{ 'REQUEST.P-2' | translate }}
    <span class="text-xl text-gray-400">
      <select class="border-b-2 border-black" name="fields" id="fields">
        <option value="graphicDesign">
          {{ 'REQUEST.OPTION-1' | translate }}
        </option>
        <option value="frontEnd">{{ 'REQUEST.OPTION-2' | translate }}</option>
      </select>
    </span>
    .
  </p>
  <p class="text-3xl font-secondry font-bold mb-4">
    {{ 'REQUEST.P-3' | translate }}
    <span class="text-xl">
      <input
        class="border-b-2 border-black p-2"
        type="email"
        placeholder="{{ 'REQUEST.HOLDER-2' | translate }}"
      />
    </span>
    .
  </p>
  <p class="text-3xl font-secondry font-bold mb-2">
    {{ 'REQUEST.P-4' | translate }}:
    <span class="text-xl">
      <input
        class="border-b-2 border-black p-2"
        placeholder="{{ 'REQUEST.HOLDER-3' | translate }}"
      />
    </span>
    .
  </p>
  <button
    class="text-primary font-secondry font-bold hover:text-amber-700 mt-4 flex items-center"
  >
    {{ 'REQUEST.SEND' | translate }}
    <img src="right-arrow.svg" alt="right-arrow icon" class="w-8 h-4" />
  </button>
</div>
