<div class="mx-52 my-20">
  <p class="text-7xl font-primary font-semibold max-w-4xl">
    Hey! We are ready to Consult you
  </p>
  <div class="border-black border-4 w-80 h-2 my-8"></div>
  <p class="text-3xl font-secondry font-bold mb-4">
    My name is
    <span class="text-xl">
      <input
        class="border-b-2 border-black"
        placeholder="First and last name"
      />
    </span>
    and I’m interested in
    <span class="text-xl text-gray-400">
      <select class="border-b-2 border-black" name="fields" id="fields">
        <option value="graphicDesign">Graphic Design</option>
        <option value="frontEnd">Front End</option>
      </select>
    </span>
    .
  </p>
  <p class="text-3xl font-secondry font-bold mb-4">
    Please Contact me
    <span class="text-xl">
      <input class="border-b-2 border-black" type="email" placeholder="Email" />
    </span>
    .
  </p>
  <p class="text-3xl font-secondry font-bold mb-2">
    Optionally, I’m sharing More:
    <span class="text-xl">
      <input
        class="border-b-2 border-black"
        placeholder="Your Project Details"
      />
    </span>
    .
  </p>
  <button
    class="text-primary font-secondry font-bold hover:text-amber-700 mt-4 flex items-center"
  >
    SEND REQUEST
    <img src="right-arrow.svg" alt="right-arrow icon" class="w-8 h-4" />
  </button>
</div>
