<div class="flex flex-col my-20 justify-center items-center">
  <div class="flex items-center justify-center my-10">
    <div
      class="bg-black rounded-full flex items-center justify-center w-96 h-96 p-10 mx-6"
    >
      <p class="text-white text-7xl font-primary font-semibold">WHY US</p>
    </div>
    <p class="text-5xl font-medium font-secondry max-w-3xl">
      Need a trusted partner to bring your animated vision to life?
      <span class="text-primary">Vertex Motions</span> is your expert choice.
    </p>
  </div>
  <div class="flex">
    <div
      class="border-black flex flex-col items-center w-96 h-auto p-5 mr-4"
      id="box"
    >
      <p class="text-base font-bold text-primary font-serif mt-6 mb-3">
        Window to Your World of Creation
      </p>
      <p class="text-3xl font-secondry font-bold mb-28">Tracking Progress</p>
      <p class="text-center mb-10">
        Keep your project on track with updates every step of the way through
        our Online platform
      </p>
    </div>
    <div
      class="border-black flex flex-col items-center w-96 h-auto p-5 mr-4"
      id="box"
    >
      <p class="text-base font-bold text-primary font-serif mt-6 mb-3">
        A work of art from start to finish
      </p>
      <p class="text-3xl font-secondry font-bold mb-20 max-w-xs text-center">
        Exceptional َQuality
      </p>
      <p class="text-center mb-10">
        Experience the highest level of animation excellence
      </p>
    </div>
    <div
      class="border-black flex flex-col items-center w-96 h-auto p-5 mr-4"
      id="box"
    >
      <p class="text-base font-bold text-primary font-serif mt-6 mb-3">
        A Tailor-Made Journey to Succes
      </p>
      <p class="text-3xl font-secondry font-bold mb-12 text-center">
        Customised Solutions &proven results
      </p>
      <p class="text-center mb-10">
        Discover solutions that meet your specific needs and goals.
      </p>
    </div>
  </div>
</div>
